<h4>Hi <%= @user.name %>,</h4>

<p><strong><%= @current_user.name %> (<%= @current_user.email %>)</strong> has requested
  to join your carpool. </p>

<p><%= @current_user.name %> lives at:</p>
<p><%= @current_user.address %></p>
<p><%= @current_user.locality.name %></p>
<p><a href="<%= user_show_url(id: @current_user.id) %>">More information of the user.</a></p>

<p>If you approve, <%= @current_user.name %> will be added to your carpool, and a confirmation email will
  be sent to <%= @current_user.name %>.</p>

<p>What would you like to do?</p>

<p><%= link_to('Approve this request', approve_reject_handler_url(token: @digest, user: @current_user.id, cabpool: @cabpool, approver: @user.id, approve: true), target: '_blank') %> </p>

<p><%= link_to('Reject this request', approve_reject_handler_url(token: @digest, user: @current_user.id, cabpool: @cabpool, approver: @user.id, approve: false), target: '_blank') %></p>

Thanks!
<br/>
Danglay