<h4>Hi <%= @username %>,</h4>

<p><strong><%= @current_user.name %> (<%= @current_user.email %>)</strong> has requested
  to join your carpool. </p>

<p> <%= @current_user.name %> lives at:</p>
<p><%= @current_user.address %></p>

<p>If you approve, <%= @current_user.name %> will be added to your carpool, and a confirmation email will
  be sent to both <%= @current_user.name %> and to the admin folks who manage your carpool.</p>

<p>What would you like to do?</p>

<p><%= link_to('Approve this request', approve_reject_handler_url(token: @digest, user: @current_user.id, cabpool: @cabpool,  approve: true), target: '_blank') %> </p>

<p><%= link_to('Reject this request', approve_reject_handler_url(token: @digest, user: @current_user.id, cabpool: @cabpool, approve: false), target: '_blank') %></p>

Thanks!

Danglay