<% provide(:title, 'Edit Profile') %>
<% provide(:banner) do %>
    <%= render partial: 'layouts/banners/default',
               object: { banner_heading: "Hi, #{@user.name}",
                         banner_paragraph: 'In order to edit your details please fill in the following fields.'
               }%>
<% end %>

<% if FEATURES.active?('user_feature') %>
    <div class="row form-elements ">
      <%= form_for(@user, layout: :horizontal) do |f| %>
          <div class="center-form">
            <%= label_tag 'Employee ID' %>
            <%= f.text_field :emp_id, :readonly => true %>
            <%= render 'shared/error_messages', errors: @user.errors[:emp_id] if !@user.errors[:emp_id].empty? %>
            <%= label_tag 'Address' %>
            <%= f.text_area :address %>
            <%= render 'shared/error_messages', errors: @user.errors[:address] if !@user.errors[:address].empty? %>
            <%= label_tag 'Phone Number' %>
            <%= f.text_field :phone_no %>
            <%= render 'shared/error_messages', errors: @user.errors[:phone_no] if !@user.errors[:phone_no].empty? %>
            <%= label_tag 'Locality' %>
            <%= hidden_field_tag 'user_locality_name', @user.locality.name %>

            <div class="full-width-selectize">
              <%= f.collection_select(:locality, @localities, :id, :name, {prompt: true}) %>
              <%= render 'shared/error_messages', errors: @user.errors[:locality] if !@user.errors[:locality].nil? %>
            </div>
            <div class="form-group
              <% unless @locality_errors.nil? %> field_with_errors
              <% end %>">
              <div>
                <!-- TODO: Use built-in helpers instead of coding html directly -->
                <input class="form-control" type="text" name="user[other]" id="otherBox" style="display: none" placeholder="(Enter Other Location)"/>
                <%= render 'shared/error_messages', errors: @locality_errors if !@locality_errors.nil? %>
              </div>
              <span class="cannot-find-locality">Can't find your Locality?</span>
            </div>
            <%= f.submit "Update Profile", class: "btn-submit display-block" %>
          </div>
      <% end %>
    </div>
<% end %>
