<% provide(:title, 'Sign Up') %>
<% if FEATURES.active?('user_feature') %>
    <div class="container">
      <div class="row">
        <h1>Sign Up</h1>
        <div class="col-md-offset-2">
          <%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-md-2", control_col: "col-md-8") do |f| %>
              <%= f.text_field :name%>
              <%= f.email_field :email %>
              <%= f.text_field :emp_id , label: 'Employee ID'%>
              <%= f.text_area :address %>
              <%
                 @localities = Locality.all.order(:name)
                 @localities << Locality.new(id: -1, name: 'Other')
              %>
              <%= f.collection_select(:locality, @localities, :id, :name, {prompt: true}, class: 'form-control') %>
              <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                  <input class="form-control" type="text" name="user[other]" id="otherBox" style="display: none" placeholder="(Other Location)"/>
                </div>
              </div>
              <%= f.submit "Create my account",class: "btn btn-primary col-md-offset-2"%>
          <% end %>
        </div>
      </div>
    </div>
<% end %>