<% provide(:title, 'Sign Up') %>
<% if FEATURES.active?('user_feature') %>
<h1>Sign Up</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages_user' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :emp_id, "Employee ID" %>
        <%= f.text_field :emp_id, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_area :address, class: 'form-control' %>

        <%
          @localities = Locality.all.order(:name)
          @localities << Locality.new(id: -1, name: 'Other')
        %>

        <%= f.label :locality %>
        <%= f.collection_select(:locality, @localities, :id, :name,{ prompt: true }, class: 'form-control') %>

        <input class="form-control" type="text" name="user[other]" id="otherBox" style="display: none" placeholder="(Other Location)"/>


        <%= f.submit "Create my account", class: "btn btn-primary form-control", style: 'align: center' %>
    <% end %>
  </div>
</div>
<% end %>