<% provide(:title, @user.name) %>
<% provide(:banner) do %>
    <%= render partial: 'layouts/secondary_banner',
               object: { banner_heading: @user.name,
                         banner_paragraph: 'ThoughtWorks, Bangalore'}%>
<% end %>

<section class="user-wrapper">
  <ul class="user-info">
    <li><label>Employee ID:</label> <%= @user.emp_id %></li>
    <li><label>Email:</label> <%= @user.email %></li>
    <li><label>Address:</label> <%= @user.address %></li>
    <li><label>Locality:</label> <%= @user.locality.name %></li>
  </ul>

  <div class="view-more-info">
    <h4>Also view on:</h4>
    <div>
      <a href="https://jigsaw.thoughtworks.com/consultants/<%=@user.email.split('@')[0]%>" target="_blank">
        <%= image_tag('jigsaw-icon.png') %>
      </a>

      <a href="https://contacts.thoughtworks.com/searchUser?searchQuery=<%=@user.email.split('@')[0]%>" target="_blank">
        <%= image_tag('contacts-icon.png') %>
      </a>

      <a href="https://thoughtworks.jiveon.com/people/<%=@user.email.split('@')[0]%>" target="_blank">
        <%= image_tag('my-tw-icon.png') %>
      </a>
    </div>
  </div>
</section>