<% provide(:title, @user.name) %>
<% provide(:banner) do %>
    <%= render partial: 'layouts/secondary_banner',
               object: { banner_heading: @user.name }%>
<% end %>
<h3>Employee ID : <%= @user.emp_id %></h3>
<h3>Email : <%= @user.email %></h3>
<h3>Address : <%= @user.address %></h3>
<h3>Locality : <%= @user.locality.name %></h3>