<% provide(:title, @user.name) %>
<% provide(:banner) do %>
    <%= render partial: 'layouts/banners/default',
               object: { banner_heading: @user.name,
                         banner_paragraph: 'ThoughtWorks, Bangalore'}%>
<% end %>

<section class="user-wrapper">
  <table class="user-info">
    <tr><td><label>Employee ID</label></td><td> <%= @user.emp_id %></td></tr>
    <tr><td><label>Email</label></td><td> <%= @user.email %></td></tr>
    <tr><td><label>Phone Number</label></td><td> <%= @user.phone_no %></td></tr>
    <tr><td><label>Locality</label></td><td> <%= @user.locality.name %></td></tr>
    <tr><td><label>Address</label></td><td> <%= @user.address %></td></tr>
  </table>

  <div class="view-more-info">
    <h4>Also view on:</h4>
    <div>
      <a href="https://jigsaw.thoughtworks.com/consultants/<%=@user.email.split('@')[0]%>" target="_blank">
        <%= image_tag('jigsaw-icon.png') %>
      </a>

      <a href="https://contacts.thoughtworks.com/searchUser?searchQuery=<%=@user.email.split('@')[0]%>" target="_blank">
        <%= image_tag('contacts-icon.png') %>
      </a>

      <a href="https://thoughtworks.jiveon.com/people/<%=@user.email.split('@')[0]%>" target="_blank">
        <%= image_tag('my-tw-icon.png') %>
      </a>
    </div>
  </div>
</section>