<li>
  <div class="pool-title roundtrip">
    <div class="col-10"><span><%= displayable cabpool.id %></span></div>
    <div class="col-20"><%= image_tag("tw.png") %></div>
    <div class="col-20 local"><span><%= cabpool.ordered_localities.first.name %></span> <span>ThoughtWorks</span></div>
    <div class="col-20 time"><span>Arrival: <%= formatted_time(cabpool.timein) %></span>
      <span>Departure: <%= formatted_time(cabpool.timeout) %></span></div>
    <div class="col-15"><span
    <% if cabpool.available_slots == 0 %> class="no-seats" <% end %>  ><%= cabpool.available_slots %></span></div>
    <div class="col-15">
      <%= form_for(cabpool, url: "admin_cabpool/#{cabpool.id}/edit", method: 'get') do |f| %>
          <%= f.button :Edit %>
      <% end %>
      <span class="view-details">View details</span></div>
  </div>
  <div class="pool-description">
    <div class="row">
      <div class="col-40">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Emp ID</th>
            <th>Contact</th>
          </tr>
          </thead>
          <tbody>
          <% cabpool.users.each do |user| %>
              <tr>
                <td><a href="<%= user_show_path(id: user.id) %>" class="user-profile-link"><i class="fa fa-user"></i><%= user.name %></a></td>
                <td><%= user.emp_id %></td>
                <td><%= user.phone_no %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-30 route">
        <h4 class="inner-header">Route</h4>
        <div>
          <% cabpool.ordered_localities.each do |locality| %>
              <span> <%= locality.name %> </span>
          <% end %>
          <span>Thoughtworks</span>
        </div>
        <h4 class="remarks-header">Remarks</h4>
        <span>
          <pre class="cabpool-remarks"><%= cabpool.remarks %></pre>
        </span>
      </div>
      <div class="col-30">
        <div class="map-wrap">
          <%= hidden_field_tag 'cabpool_route', cabpool.route %>
          <div id="map" class="map_show pull-right"></div>

          <button class="open-map" title="Expand map"><i class="fa fa-expand"></i></button>

          <div class="admin-view-route-info">
            <div class="route-info"></div>
            <div class="delete-cabpool-icon">
              <%= form_for(cabpool, url: '/admin/cabpools/delete', method: :delete, :html => {onsubmit: "return popup_confirmation(this, 'Are you sure you want to delete this Cabpool?');"}) do %>
                  <%= hidden_field_tag 'id', cabpool.id %>
                  <button class="btn-alert" title="Delete Cabpool">
                    <i class="fa fa-trash fa-2x"></i>
                  </button>
              <% end %>
            </div>
          </div>

          <%= form_for(cabpool, url: "admin_cabpool/#{cabpool.id}/edit", method: 'get') do |f| %>
              <%= f.button :Edit, class: 'btn-ride' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</li>