<% provide(:banner) do %>
    <%= render partial: 'layouts/banners/admin', object: { edit_tab: 'active'} %>
<% end %>

<% provide :form_submit_path, admin_cabpool_update_path %>

<% provide(:passengers_form) do %>
  <div class="form-group">
    <!-- TODO: Use built-in helpers instead of coding html directly -->
    <label class="label-blue"> Passengers </label>
    <%= render 'shared/error_messages', errors: @cabpool.errors[:users] if !@cabpool.errors[:users].empty? %>

    <div>
      <span class="label-name">Add a passenger </span>
      <!-- TODO: Use built-in helpers instead of coding html directly -->
      <button id="addPassenger">+</button>
    </div>
    <div class="newPassengerInputTemplate">
      <!-- TODO: Use built-in helpers instead of coding html directly -->
      <label for="cabpool_users">Name</label>
      <%= collection_select(:users, DateTime.now.strftime('%Q').to_i, User.all, :id, :name, {prompt: true}, class: 'form-control') %>
    </div>
  </div>

  <div id="passengersSelection">
    <% @cabpool.users.each do |user| %>
        <div class="form-group">
          <div class="passengersForm">
            <!-- TODO: Use built-in helpers instead of coding html directly -->
            <label for="cabpool_users">Name</label>
            <%= collection_select(:users, DateTime.now.strftime('%Q').to_i, User.all, :id, :name, {prompt: true, selected: user.id}, class: 'form-control') %>
          </div>
          <!-- TODO: Use built-in helpers instead of coding html directly -->
          <button id="removePassenger">-</button>
        </div>
    <% end %>
  </div>
<% end %>

<%= render 'layouts/edit_cabpool' %>
