<div class="row form-elements">
  <%= form_for(@cabpool, layout: :horizontal, url: admin_cabpool_update_path) do |f| %>
      <div class="col-50">
        <h2 class="create-form-heading"><%= "Edit Cab Pool" %></h2>
        <%= label_tag 'Capacity of Cab' %>
        <%= f.text_field :number_of_people, disabled: true %>

        <div class="form-group">
          <label class="label-blue"> Passengers </label>

          <div>
            <span class="label-name">Add a passenger </span>
            <button id="addPassenger">+</button>
          </div>
          <div class="form-group">
            <div id="passenger">
              <% @cabpool.users.each do |user| %>
                  <div id="userName">
                    <button id="removePassenger">-</button>
                    <label><%= user.name %></label>
                  </div>
              <% end %>
            </div>
            <div class="passengersForm">
              <label for="cabpool_users">Name</label>
              <%= collection_select(:users, DateTime.now.strftime('%Q').to_i, User.all, :id, :name, {prompt: true}, class: 'form-control') %>
            </div>
          </div>
        </div>
        <div id="passengersSelection"></div>

        <%= label_tag 'Arrival time to office' %>
        <%= f.time_field :timein, placeholder: 'HH:MM', disabled: true %>
        <%= label_tag 'Departure time from office' %>
        <%= f.time_field :timeout, placeholder: 'HH:MM', disabled: true %>
        <%= f.hidden_field :route, value: @cabpool.route %>

        <label class="control-label required" for="cabpool_type">Cabpool Type</label>

        <div>
          <input disabled="disabled" value="<%= @cabpool.cabpool_type.name %>">
        </div>
        <%= hidden_field_tag 'id', @cabpool.id %>
        <%= hidden_field_tag 'route', @cabpool.route %>
        <%= f.submit "Update pool", class: "btn-submit" %>
      </div>
      <div class="col-50">
        <div id="map" class="map_show" style="height: 400px"></div>
      </div>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs&callback=initMap_show">
      </script>
  <% end %>
</div>