<% provide(:banner) do %>
    <%= render partial: 'layouts/primary_admin_banner', object: {edit_tab: 'active'} %>
<% end %>

<div class="row form-elements">
  <%= form_for(@cabpool, layout: :horizontal, url: admin_cabpool_update_path) do |f| %>
      <div class="col-50">
        <h2>Edit Cab Pool</h2>
        <%= label_tag 'Capacity of Cab' %>
        <%= f.text_field :number_of_people %>
        <%= render 'shared/error_messages', errors: @cabpool.errors[:number_of_people] if !@cabpool.errors[:number_of_people].empty? %>

        <div class="form-group">
          <label class="label-blue"> Passengers </label>
          <%= render 'shared/error_messages', errors: @cabpool.errors[:users] if !@cabpool.errors[:users].empty? %>

          <div>
            <span class="label-name">Add a passenger </span>
            <button id="addPassenger">+</button>
          </div>
          <div class="newPassengerInputTemplate">
            <label for="cabpool_users">Name</label>
            <%= collection_select(:users, DateTime.now.strftime('%Q').to_i, User.all, :id, :name, {prompt: true}, class: 'form-control') %>
          </div>
        </div>

        <div id="passengersSelection">
          <% @cabpool.users.each do |user| %>
              <div class="form-group">
                <div class="passengersForm">
                  <label for="cabpool_users">Name</label>
                  <%= collection_select(:users, DateTime.now.strftime('%Q').to_i, User.all, :id, :name, {prompt: true, selected: user.id}, class: 'form-control') %>
                </div>
                <button id="removePassenger">-</button>
              </div>
          <% end %>
        </div>

        <%= label_tag 'Arrival time to office' %>
        <%= f.time_field :timein, placeholder: 'HH:MM (24Hr format)', disabled: true %>
        <%= label_tag 'Departure time from office' %>
        <%= f.time_field :timeout, placeholder: 'HH:MM (24Hr format)', disabled: true %>
        <%= f.hidden_field :route, value: @cabpool.route %>

        <label class="control-label" for="cabpool_type">Cabpool Type</label>

        <div>
          <input disabled="disabled" value="<%= @cabpool.cabpool_type.name %>">
        </div>

        <%= label_tag 'Remarks' %>
        <%= f.text_area :remarks %>
        <%= render 'shared/error_messages', errors: @cabpool.errors[:remarks] if !@cabpool.errors[:remarks].empty? %>

        <div class="form-group">
          <label class="label-blue" for="user_locality">Route :-</label>
          <%= render 'shared/error_messages', errors: @cabpool.errors[:localities] if !@cabpool.errors[:localities].empty? %>
          <label class="label-blue" for="user_locality">Start Point</label>

          <div class="full-width-selectize">
            <%= collection_select(:localities, 'source', Locality.all, :id, :name, {prompt: true, selected: @cabpool.ordered_localities.first.id}, class: 'form-control add-locality', id: 'sourceLocation') %>
          </div>

          <div class="add-locality-label-and-button">
            <span class="label-name">Add</span>
            <button id="addLocality">+</button>
          </div>
          <div>
            <div class="localityForm">
              <label class="control-label pull-left" for="user_locality">Via</label>
              <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true}, class: 'form-control add-locality') %>
            </div>
          </div>
        </div>

        <div id="localitySelections">

          <% @cabpool.ordered_localities.drop(1).each do |locality| %>
              <div class="form-group">
                <div class="localityForm">
                  <label class="control-label pull-left" for="user_locality">Via</label>
                  <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true, selected: locality.id}, class: 'form-control add-locality') %>
                </div>
                <button id="removeNewLocality">-</button>
              </div>
          <% end %>

        </div>

        <div class="form-group">
          <label class="label-blue" for="user_locality">End Point</label>
          <span class="label-name">ThoughtWorks Pvt Ltd.</span>
        </div>

        <%= hidden_field_tag 'id', @cabpool.id %>
        <%= f.submit "Update pool", class: 'btn-submit' %>
      </div>
  <% end %>
  <div class="col-50">
    <h2>Route Map</h2>
    <div id="map" class="map"></div>
  </div>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs&callback=initMap_show">
  </script>
</div>