<% provide(:title, 'Create new Cab Pool') %>
<div class="row form-elements">

  <%= form_for(@cabpool, layout: :horizontal, url: admin_cabpool_create_path) do |f| %>
      <div class="col-50">
        <h2><%= "Create a Cab Pool" %></h2>
        <div id="cabpool_type" class="form-group
              <% unless @cabpool.errors[:cabpool_types].empty? %> field_with_errors
              <% end %> ">
          <label for="cabpool_type">Cabpool Type</label>

          <div>
            <input disabled="disabled" value="<%= CabpoolType.find_by_name('Company provided Cab').name  %>">
          </div>
        </div>
        <%= label_tag 'Capacity of Cab' %>
        <%= f.text_field :number_of_people %>
        <%= render 'shared/error_messages', errors: @cabpool.errors[:number_of_people] if !@cabpool.errors[:number_of_people].empty? %>

        <div class="form-group">
          <label class='label-blue'> Passengers </label>

          <div>
            <span class="label-name">Add a passenger </span>

            <div class="passengersForm">
              <label for="cabpool_users">Name</label>
              <%= collection_select(:users, DateTime.now.strftime('%Q').to_i, User.all, :id, :name, {prompt: true}, class: 'form-control') %>
            </div>
          </div>
          <button id="addPassenger">+</button>
        </div>
        <div id="passengersSelection"></div>

        <%= label_tag 'Arrival time to office' %>
        <%= f.time_field :timein, placeholder: 'HH:MM' %>
        <%= render 'shared/error_messages', errors: @cabpool.errors[:timein] if !@cabpool.errors[:timein].empty? %>
        <%= label_tag 'Departure time from office' %>
        <%= f.time_field :timeout, placeholder: 'HH:MM' %>
        <%= render 'shared/error_messages', errors: @cabpool.errors[:timeout] if !@cabpool.errors[:timeout].empty? %>
        <%= f.hidden_field :route, value: '' %>


        <%= label_tag 'Remarks (Optional)' %>
        <%= f.text_area :remarks %>
        <%= render 'shared/error_messages', errors: @cabpool.errors[:remarks] if !@cabpool.errors[:remarks].empty? %>


        <div class="form-group<% unless @cabpool.errors[:localities].empty? %> field_with_errors<% end %> ">
          <label>Enter source</label>
          <div class="full-width-selectize">
            <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true}, class: 'form-control add-locality', id: 'sourceLocation') %>
          <%= render 'shared/error_messages', errors: @cabpool.errors[:localities] if !@cabpool.errors[:localities].empty? %>
          </div>
        </div>

        <div class="form-group pull-left" >
          <label class = "label-blue" for="user_locality">Route</label>
          <div>
            <span class="label-name">Add a location</span>

            <div class="localityForm">
              <label class="control-label required pull-left" for="user_locality">Via</label>
              <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true}, class: 'form-control add-locality') %>
            </div>
          </div>
          <button id="addLocality">+</button>

        </div>

        <div id="localitySelections"></div>
        <%= f.submit "Create a pool", class: "btn-submit" %>
      </div>
      <div class="col-50">
        <h2>Route Map</h2>
        <div id="map" class="map"></div>
      </div>

      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs&callback=initMap">
      </script>
  <% end %>
</div>
