<div class="container-fluid show-cabpools">
  <div class="row">
    <div class="col-md-10 col-sm-6 col-xs-6">
      <div class="row">
          <span class="col-md-3 col-sm-12 col-xs-12" title="Destination">
            <%= image_tag 'navigate.png', :class => 'cabpool-img' %>
            <%= cabpool.ordered_localities.first.name %>
          </span>
          <span class="col-md-3 col-sm-12 col-xs-12 col-md-offset-2" title="Arrival time to office">
            <%= image_tag 'clock.png', :class => 'cabpool-img' %>
            <%= formatted_time(cabpool.timein) %>
          </span>
          <span class="col-md-3 col-sm-12 col-xs-12" title="Departure time from office">
            <%= image_tag 'clock.png', :class => 'cabpool-img' %>
            <%= formatted_time(cabpool.timeout) %>
          </span>
      </div>
      <% cabpool.users.each do |user| %>
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12"><%= user.name %></div>
            <div class="col-md-5 col-sm-12 col-xs-12"><%= user.phone_no %></div>
          </div>
      <% end %>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6">
      <% cabpool.ordered_localities.each do |locality| %>
          <h4 class="center"> <%= locality.name %> </h4>

          <div class="glyphicon glyphicon-arrow-down center-block center"></div>
      <% end %>
      <h4 class="center"> <%= destination %></h4>
    </div>
    <%= hidden_field_tag 'route', cabpool.route %>
    <div id="map" class="map_show col-md-2 pull-right" ondblclick="fullScreenMapDisplay(this,<%=cabpool.route%>)">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if cabpool.available_slots > 0 %>
          <span class="label-purple">Available Slots: <%= cabpool.available_slots %></span>
      <% else %>
          <span class="label-purple">No available slots</span>
      <% end %>
    </div>

    <% if button(cabpool) == "Leave"%>
        <%= form_for(cabpool, url: 'leave_cabpool', method: 'post') do |f| %>
            <%= f.submit button(cabpool), class: "btn pull-right" %>
        <% end %>
    <% else %>
        <%= form_for(cabpool, url: '/cabpools/join', method: 'post') do |f| %>
            <%= f.hidden_field(:id) %>
            <% if !button(cabpool).nil? %>
                <% if button(cabpool) == "Requested" %>
                    <%= f.submit button(cabpool), class: "btn pull-right", disabled: true %>
                <% else %>
                    <%= f.submit button(cabpool), class: "btn pull-right" %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs&callback=initMap_show">
    </script>
  </div>
</div>
