<div class="container-fluid show-cabpools">
    <div class="row">
      <div class="col-md-10 col-sm-6 col-xs-6">
        <div class= "row">
          <span class="col-md-3 col-sm-12 col-xs-12" title="Destination">
            <%= image_tag 'navigate.png' , :class => 'cabpool-img'%>
            <%= cabpool.localities.first.name  %>
          </span>
          <span class="col-md-3 col-sm-12 col-xs-12 col-md-offset-2" title="Arrival time to office">
            <%= image_tag 'clock.png' , :class => 'cabpool-img'%>
            <%= formatted_time(cabpool.timein) %>
          </span>
          <span class="col-md-3 col-sm-12 col-xs-12" title="Departure time from office">
            <%= image_tag 'clock.png' , :class => 'cabpool-img'%>
            <%= formatted_time(cabpool.timeout) %>
          </span>
        </div>
        <% cabpool.users.each do |user| %>
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12"><%= user.name %></div>
            <div class="col-md-5 col-sm-12 col-xs-12"><%= user.email %></div>
          </div>
        <% end %>
      </div>
    <div class="col-md-2 col-sm-6 col-xs-6">
      <% cabpool.localities.each do |locality| %>
        <h4> <%= locality.name %> </h4>
        <div class="glyphicon glyphicon-arrow-down center-block"></div>
      <% end %>
      <h4> <%= destination %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="label-purple">Available Slots: </span>
      <span>No available slots</span>
    </div>
    <%= form_for(cabpool, url: '/cabpools/join', method: 'post') do |f| %>
      <%= f.hidden_field(:id) %>
        <% if user_cabpool_exists? %>

        <% elsif requested_user?(cabpool) %>
            <%= f.button "Requested" , class: "btn pull-right" , disabled: true %>
        <% else %>
          <%= f.submit "Join", class: "btn pull-right"%>
        <% end %>
    <% end %>
  </div>
</div>