<li>
  <div class="pool-title roundtrip">
    <div class="col-20"><%= image_tag(image_to_be_displayed(cabpool)) %></div>
    <div class="col-20 local"><span><%= cabpool.ordered_localities.first.name %></span> <span>ThoughtWorks</span></div>
    <div class="col-20 time"><span>Arrival: <%= formatted_time(cabpool.timein) %></span>
      <span>Departure: <%= formatted_time(cabpool.timeout) %></span></div>
    <div class="col-20"><span
    <% if cabpool.available_slots == 0 %> class="no-seats" <% end %>  ><%= cabpool.available_slots %></span></div>
    <div class="col-20">
      <% if button(cabpool) == "Leave Ride" %>
          <%= form_for(cabpool, url: 'leave_cabpool', method: 'post') do |f| %>
              <%= f.button button(cabpool) %>
          <% end %>
      <% else %>
          <%= form_for(cabpool, url: '/cabpools/join', method: 'post') do |f| %>
              <%= f.hidden_field(:id) %>
              <% if !button(cabpool).nil? %>
                  <% if button(cabpool) == "Requested" %>
                      <%= f.button button(cabpool), disabled: true %>
                  <% else %>
                      <%= f.button button(cabpool), name: 'Join Ride' %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
      <span class="view-details">View details</span></div>
  </div>
  <div class="pool-description">
    <div class="row">
      <div class="col-40">
        <table class="table">
          <thead>
          <tr>
            <th>Emp ID</th>
            <th>Name</th>
            <th>Contact</th>
          </tr>
          </thead>
          <tbody>
          <% cabpool.users.each do |user| %>
              <tr>
                <td><%= user.emp_id %></td>
                <td><%= user.name %></td>
                <td><%= user.phone_no %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-30 route">
        <h4 class="inner-header">Route</h4>
        <div>
          <% cabpool.ordered_localities.each do |locality| %>
              <span> <%= locality.name %> </span>
          <% end %>
          <span>Thoughtworks</span>
        </div>
        <h4 class="remarks-header">Remarks</h4>
        <span>
          <pre><%= cabpool.remarks %></pre>
        </span>
      </div>
      <div class="col-30">
        <div class="map-wrap">
          <%= hidden_field_tag 'route', cabpool.route %>
          <div id="map" class="map_show pull-right"></div>
          <% if button(cabpool) == "Leave Ride" %>
              <%= form_for(cabpool, url: 'leave_cabpool', method: 'post') do |f| %>
                  <%= f.button button(cabpool), class: 'btn-ride' %>
              <% end %>
          <% else %>
              <%= form_for(cabpool, url: '/cabpools/join', method: 'post') do |f| %>
                  <%= f.hidden_field(:id) %>
                  <% if !button(cabpool).nil? %>
                      <% if button(cabpool) == "Requested" %>
                          <%= f.button button(cabpool), class: 'btn-ride', disabled: true %>
                      <% else %>
                          <%= f.button button(cabpool), class: 'btn-ride', name: 'Join Ride' %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
          <div class="route-info"></div>
        </div>
      </div>
    </div>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs">
  </script>
</li>
