<% provide(:title, 'Create new Cab Pool') %>
<% provide(:banner) do %>
    <%= render partial: 'layouts/secondary_banner',
               object: { banner_ui_style: 'create-cabpool',
                         banner_heading: 'Create a pool',
                         banner_paragraph: 'You are allowed to create pools of types - Personal Car and External Cab.
                                            However only thoughtworks admins are allowed to create Company Provided Cab Pools.
                                            If you wish to use this type of cab pool and cannot find one in your locality,
                                            you can submit a request to the admins to create a cab pool from your locality.'
                       }%>
<% end %>


<% if FEATURES.active?('user_feature') %>
    <div class="row form-elements">


      <%= form_for(@cabpool, layout: :horizontal) do |f| %>
          <div class="col-50">
            <h2 id="create-cabpool-heading"><%= "Create a Cab Pool" %></h2>
            <div id="cabpool_type" class="
              <% unless @cabpool.errors[:cabpool_types].empty? %> field_with_errors
              <% end %>">
              <label for="cabpool_type" class="required">Cabpool Type</label>
              <div>
                <%= collection_select(:cabpool_type, DateTime.now.strftime('%Q').to_i, CabpoolType.all, :id, :name, {prompt: true, selected: cabpool_type_that_was_retained}, {id: "cabpool_type"}) %>
                <%= render 'shared/error_messages', errors: @cabpool.errors[:cabpool_types] if !@cabpool.errors[:cabpool_types].empty? %>
              </div>
            </div>
            <label class="hideable required" for="capacity_of_cab"> Capacity of Cab </label>
            <div class="hideable">
              <%= f.text_field :number_of_people %>
              <%= render 'shared/error_messages', errors: @cabpool.errors[:number_of_people] if !@cabpool.errors[:number_of_people].empty? %>
            </div>
            <label class="required" for="timein"> Arrival Time To Office </label>
            <%= f.time_field :timein, placeholder: 'HH:MM (24Hr format)' %>
            <%= render 'shared/error_messages', errors: @cabpool.errors[:timein] if !@cabpool.errors[:timein].empty? %>
            <label class="required" for="timeout"> Departure Time From Office</label>
            <%= f.time_field :timeout, placeholder: 'HH:MM (24Hr format)' %>
            <%= render 'shared/error_messages', errors: @cabpool.errors[:timeout] if !@cabpool.errors[:timeout].empty? %>
            <%= f.hidden_field :route, value: '' %>

            <%= label_tag 'Remarks (Optional)' %>
            <%= f.text_area :remarks %>
            <%= render 'shared/error_messages', errors: @cabpool.errors[:remarks] if !@cabpool.errors[:remarks].empty? %>

            <div class="form-group">
              <label class="label-blue" for="user_locality">Route :-</label>
              <label class="label-blue" for="user_locality">Start Point</label>
              <span class="label-name" id="locality"> <%= User.find_by_email(session[:Email]).locality.name %> </span>
              <div class="hideable">
                <%= hidden_field_tag 'localities[source]', User.find_by_email(session[:Email]).locality.id %>
                <div class="localityForm">
                  <label class="control-label pull-left hideable" for="user_locality">Via</label>
                  <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true}, class: 'hideable form-control add-locality') %>
                </div>
                <%= render 'shared/error_messages', errors: @cabpool.errors[:localities] if !@cabpool.errors[:localities].empty? %>
              </div>
              <button id="addLocality" class="hideable">+</button>
            </div>

            <div id="localitySelections"></div>

            <div class="form-group">
              <label class="label-blue" for="user_locality">End Point</label>
              <span class="label-name">ThoughtWorks Pvt Ltd.</span>
            </div>
            <%= f.submit "Create a pool", class: "btn-submit", id: "submit_button" %>
          </div>
          <div class="col-50">
            <h2>Route Map</h2>
            <div id="map" class="map"></div>
          </div>
          <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs&callback=initMap">
          </script>
      <% end %>
    </div>
<% end %>