<% provide(:title, 'Create new Cab Pool') %>
<% if FEATURES.active?('user_feature') %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="create-form-heading"><%= "Create a Cab Pool" %></h2>

        <%= bootstrap_nested_form_for(@cabpool, layout: :horizontal, label_col: "col-md-3", control_col: "col-md-7") do |f| %>
            <%= f.text_field :number_of_people, label: 'Number of people to travel with' %>
            <%= f.time_field :timein, label: 'Pick-up time to office', placeholder: 'HH:MM' %>
            <%= f.time_field :timeout, label: 'Pick-up time from office', placeholder: 'HH:MM' %>

            <div class="form-group <% unless @cabpool.errors[:localities].empty? %> has-error <% end %> ">
              <label class="control-label col-md-3 required " for="user_locality">Via</label>

              <div class="col-md-5">
                  <div class="localityForm">
                      <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true}, class: 'form-control') %>
                  </div>
                  <%= render 'shared/error_messages', errors: @cabpool.errors[:localities] if !@cabpool.errors[:localities].empty? %>
              </div>
              <a href="javascript:;"><span class="glyphicon glyphicon-plus" id="addLocality"></span></a>
            </div>

            <div id="localitySelections"></div>

            <%= f.submit "Create a pool", class: "btn center-block" %>

        <% end %>

      </div>
    </div>
<% end %>