<% provide(:title, 'Create a new cabpools') %>
<% if FEATURES.active?('user_feature') %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1><%= "Create a Cabpool from your locality, #{@locality}" %></h1>
        <%= bootstrap_form_for(@cabpool, layout: :horizontal, label_col: "col-md-5", control_col: "col-md-6") do |f| %>
            <%= f.text_field :number_of_people, label: 'Number of people to travel with' %>
            <%= f.text_field :timein, label: 'Pick-up time to office' %>
            <%= f.text_field :timeout, label: 'Pick-up time from office' %>
            <%= f.text_field :route, label: 'Via' %>
            <%= f.submit "Create a pool", class: "btn btn-primary col-md-offset-2" %>
        <% end %>
      </div>
    </div>
<% end %>

