<div>
  <div class="container pool-list">
    <div class="row list-label">
      <div class="col-20 vendors">Vendors</div>
      <div class="col-20 location">Location</div>
      <div class="col-20 timer">Timing</div>
      <div class="col-20 seats">Seat left</div>
      <div class="col-20">
        <%= form_tag show_cabpools_path do %>
            <%= collection_select(:localities, :search, Locality.all, :id, :name, {prompt: 'Locality'}) %>
            <%= button_tag "", class: "btn-search" %>
        <% end %>
      </div>
    </div>
    <ul>
      <%= render @cabpools %>
      <% if @cabpools.empty? %>
          <%= render 'no_cabpools_found' %>
      <% end %>
    </ul>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs">
</script>
