
  <% if user_cabpool_exists? || user_requested_cabpool_exists? %>
      <h1>Your Pool(s)</h1>
  <% end %>
  <% if user_cabpool_exists? %>
      <div class = "your-pool">
        <%= render users_cabpool %>
      </div>
  <% end %>
  <% if user_requested_cabpool_exists? %>
      <div class = "your-pool">
        <%= render users_requested_cabpool %>
      </div>
  <% end %>
  <% if user_cabpool_exists? || user_requested_cabpool_exists? %>
      <%= render 'layouts/cabpools_tab' %>
  <% else %>
      <%= render 'layouts/tabs' %>
  <% end %>
  <div>
  <%= form_tag show_cabpools_path do %>
      <div class='form-group col-md-4'>
      <%= collection_select(:localities, DateTime.now.strftime('%Q').to_i, Locality.all, :id, :name, {prompt: true}, class: 'form-control')%>
      </div>
      <%= submit_tag "Search", class: "btn" %>
  <% end %>
  <%= render cabpools_to_render %>
</div>
