<% provide(:title, 'Update Profile') %>
<% provide(:banner) do %>
    <%= render partial: "layouts/primary_admin_banner", object: {add_user_tab: 'active'} %>
<% end %>

<div class="container">
  <div class="row form-elements">
    <div>
      <div class="center">
        <h2> Register User </h2>

        <p> In order to proceed, please complete the user's details below.</p>
      </div>

      <%= form_for(@user, layout: :horizontal, url: admin_user_create_path) do |f| %>
          <div class="col-50 center-form">
            <label class= "required" for="emp_id"> Employee ID </label>
            <%= f.text_field :emp_id %>
            <%= render 'shared/error_messages', errors: @user.errors[:emp_id] if !@user.errors[:emp_id].empty? %>
            <label class= "required" for="name"> Name </label>
            <%= f.text_field :name %>
            <%= render 'shared/error_messages', errors: @user.errors[:name] if !@user.errors[:name].empty? %>
            <label class= "required" for="email"> Email </label>
            <%= f.text_field :email %>
            <%= render 'shared/error_messages', errors: @user.errors[:email] if !@user.errors[:email].empty? %>
            <label class= "required" for="address"> Address </label>
            <%= f.text_area :address %>
            <%= render 'shared/error_messages', errors: @user.errors[:address] if !@user.errors[:address].empty? %>
            <label class= "required" for="phone_number"> Phone Number </label>
            <%= f.text_field :phone_no %>
            <%= render 'shared/error_messages', errors: @user.errors[:phone_no] if !@user.errors[:phone_no].empty? %>
            <label class= "required" for="locality"> Locality </label>

            <div class="full-width-selectize">
              <%= f.collection_select(:locality, @localities, :id, :name, {prompt: true}) %>
              <%= render 'shared/error_messages', errors: @user.errors[:locality] if !@user.errors[:locality].nil? %>
            </div>
            <div class="form-group
              <% unless @locality_errors.nil? %> field_with_errors
              <% end %>">
              <div>
                <input class="form-control" type="text" name="user[other]" id="otherBox" style="display: none" placeholder="(Other Location)"/>
                <%= render 'shared/error_messages', errors: @locality_errors if !@locality_errors.nil? %>
              </div>
            </div>
            <%= f.submit "Create the User", class: "btn-submit" %>
          </div>
      <% end %>
    </div>
  </div>
</div>