<footer>
  <div class="container">
    <div class="row">
      <div class="col-50 copyright-left">Copyright &copy; 2016 Danglay</div>
      <div class="col-50 text-right footer-links">
        <%= link_to "About", about_path %>
        <%= link_to "Contact us", contact_path %>
        <%= link_to "Terms and Conditions", terms_and_conditions_path %>
        <%= link_to "Privacy Policy", privacy_policy_path %>
        <%= link_to "FeedBack", 'http://goo.gl/forms/ByrmsTFFtY', target: "_blank" %>
      </div>
      <div class="col-50 copyright-bottom">Copyright &copy; 2016 Danglay</div>
    </div>
  </div>
</footer><!-- end of footer -->
