<header class="navbar-fixed-top">
  <div class="container">
    <div class="pull-left application-name"><%= link_to "DANGLAY", root_path %></div>
    <nav>
      <ul id="header-nav", class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <% if is_logged_in?  %>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<h1>Welcome, <%=@username%></h1>
<div align="center">
  <%= image_tag("cab.png", width: "30%", height: "30%") %>
</div>
