<section class="sub-header admin-header">
<div class="container">
    <h2>Welcome, admin</h2>
    <ul class="tabs">
      <li class="<%= primary_admin_banner[:create_tab]%>"><a href="<%= admin_cabpool_new_path %>"><i class="fa fa-pencil"></i> Create</a></li>
      <li class="<%= primary_admin_banner[:edit_tab]%>"><a href="<%= admin_path %>"><i class="fa fa-edit"></i> Edit</a></li>
      <li class="<%= primary_admin_banner[:add_user_tab]%>"><a href="<%= admin_user_new_path %>"><i class="fa fa-user"></i> Add User</a></li>
  </ul>
  </div>
</section><!-- End of banner section -->
